
<form [formGroup]="myForm" (submit)="onSubmit()" class="col-xs-12">
  <fieldset class="form-group">
    <label for="firstName">First Name</label>
    <input formControlName="firstName" class="form-control" id="firstName" type="text" placeholder="first name">
  </fieldset>
  <fieldset class="form-group">
    <label for="lastName">Last Name</label>
    <input formControlName="lastName" class="form-control" id="lastName" type="text" placeholder="last name">
  </fieldset>
  <fieldset class="form-group">
    <label for="phoneNumber">Phone</label>
    <input  formControlName="phoneNumber" class="form-control" id="phoneNumber" type="text" placeholder="phone number">
  </fieldset>
  <fieldset class="form-group">
    <label for="email">Email</label>
    <input  formControlName="email" class="form-control" id="email" type="email" placeholder="email">
  </fieldset>
  <fieldset class="form-group">
    <label for="password">Password</label>
    <input formControlName="password" class="form-control" id="password" type="password" placeholder="password">
  </fieldset>
  <fieldset class="button-control">
    <button class="btn btn-primary" [disabled]="!myForm.valid">Sign up</button>
  </fieldset>
</form>
